// Colors
$background-color: #0a0a0a;
$secondary-background-color: rgba(255, 255, 255, 0.05);
$element-color: #ffffff;
$accent-color: #5356d9;
$button-color: #5356d9;
$secondary-text-color: rgba(255, 255, 255, 0.7);
$secondary-bg-color: #1a1a1a;

// Layout
$container-max-width: 1200px;
$border-radius: 15px;
